body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.pointer {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.font {
    color: white;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 400;
}

.noOutline {
    outline: none;
}

.transparent {
    background: transparent;
}

.button {
    border-style: solid;
    border-color: white;
}

.buttonTop {
    top: 0;
    border-top: none;
}

.buttonBottom {
    bottom: 0;
    border-bottom: none;
}

a.noDecoration {
    color: white;
    text-decoration: none;
}

input#location {
    border: none;
    padding: 0;
}

div#quote {
    visibility: hidden;
}

a#project {
    text-align: center;
}

@media (min-aspect-ratio: 60/100) {

    .font {
        text-shadow: 0 0 .2vh black;
    }

    .button {
        font-size: 2.75vh;
        box-shadow: 0 0 .2vh black;
        padding: .75vh;
        border-width: .1vh;
    }

    .buttonTop {
        border-bottom-left-radius: .5vh;
        border-bottom-right-radius: .5vh;
    }

    .buttonBottom {
        border-top-left-radius: .5vh;
        border-top-right-radius: .5vh;
    }
    
    button#changeWallpaper,
    button#changeQuote {
        width: 12vh;
    }
    
    button#changeWallpaper {
        right: 14vh;
    }
    
    button#changeQuote {
        right: 1vh;
    }
    
    div#information {
        top: 6vh;
        left: 6vh;
    }
    
    div#date {
        font-size: 4.5vh;
    }
    
    div#time {
        font-size: 9vh;
    }
    
    input#location,
    div#weather {
        font-size: 2.75vh;
    }
    
    div#quote {
        bottom: 10vh;
        right: 10vh;
        max-width: 68vh;
        font-size: 4vh;
    }
    
    a#project {
        right: 1vh;
        width: 9vh;
    }

}

@media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 100/100) {

    div#information {
        top: 6vh;
        left: 7vw;
    }

    div#quote {
        right: 7vw;
        bottom: 7vh;
        max-width: 86vw;
        font-size: 3.5vh;
    }

}

@media (max-aspect-ratio: 60/100) {

    .font {
        text-shadow: 0 0 .3vw black;
    }

    .button {
        font-size: 5vw;
        box-shadow: 0 0 .3vw black;
        padding: 1vw;
        border-width: .1vw;
    }

    .buttonTop {
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    .buttonBottom {
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
    }
    
    button#changeWallpaper,
    button#changeQuote {
        width: 22vw;
    }
    
    button#changeWallpaper {
        right: 24vw;
    }
    
    button#changeQuote {
        right: 1vw;
    }
    
    div#information {
        top: 14vw;
        left: 5vw;
    }
    
    div#date {
        font-size: 6vw;
    }
    
    div#time {
        font-size: 12vw;
    }
    
    input#location,
    div#weather {
        font-size: 5vw;
    }
    
    div#quote {
        bottom: 12vw;
        left: 5vw;
        max-width: 90vw;
        font-size: 6vw;
    }
    
    a#project {
        right: 1vw;
        width: 18vw;
    }

}
